- when trying to run the openframeworks code only use "make clean" when instructed otherwise use "make -j -s 2>&1 && make RunRelease"
- BUT if code includes ofxVision we need to use the following method to build and run `xcodebuild clean -project REPLACE_WITH_MY_APP_NAME.xcodeproj -scheme "REPLACE_WITH_MY_APP_NAME Release" -configuration Release | cat && open bin/REPLACE_WITH_MY_APP_NAME.app` . remind me of this if i accidentally use the `make` method.
- when having to color multiple things use this method: newColor = ofColor((index*23+311)%200, (index*41+431)%200, (index*33+197)%200);